variables that can affect the mortgage payments:

Interest rate
Duration of the loan
Payment frequency (monthly vs bi-weekly, etc)
Additional principal payments

In [1]:
import pandas as pd
import numpy as np
from datetime import date

In [2]:
annual_interest_rate = 0.04
years = 30
payments_year = 12

In [3]:
monthly_interest_rate = annual_interest_rate/12
payments_months = years*payments_year

In [4]:
principal = 200000    #principal borrowed
additional_princial = 50
start_date = date(2020, 1, 1)

In [5]:
def calculateMonthlyPayment(annual_interest_rate, payments_mohths, principal):
    return np.pmt(annual_interest_rate/12, payments_months, principal)

In [6]:
def calculateInterest(annual_interest_rate, period, payments_mohths, principal):
    #interest
    return np.ipmt(annual_interest_rate/12, period, payments_months, principal)

In [7]:
def calculatePrincipal(annual_interest_rate, period, payments_mohths, principal):
    #principal
    return np.ppmt(annual_interest_rate/12, period, payments_months, principal)

In [8]:
calculateMonthlyPayment(0.02, 240, 200000)

-739.2389453776289

In [9]:
calculatePrincipal(0.02, 240, 360, 200000)

-604.3312091615007

In [10]:
calculateInterest(0.02, 240, 360, 200000)

array(-134.90773622)

In [11]:
rng = pd.date_range(start_date, periods=years*payments_year, freq='MS')
rng

DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01',
               ...
               '2049-03-01', '2049-04-01', '2049-05-01', '2049-06-01',
               '2049-07-01', '2049-08-01', '2049-09-01', '2049-10-01',
               '2049-11-01', '2049-12-01'],
              dtype='datetime64[ns]', length=360, freq='MS')

In [26]:
df = pd.DataFrame(index=rng, 
                 columns =['Payment', 'Principal', 'Interest', 'Addl_rincipal', 'Balance'], 
                 dtype='float')

In [27]:
df.reset_index(inplace=True)
df

         index  Payment  Principal  Interest  Addl_rincipal  Balance
0   2020-01-01      NaN        NaN       NaN            NaN      NaN
1   2020-02-01      NaN        NaN       NaN            NaN      NaN
2   2020-03-01      NaN        NaN       NaN            NaN      NaN
3   2020-04-01      NaN        NaN       NaN            NaN      NaN
4   2020-05-01      NaN        NaN       NaN            NaN      NaN
..         ...      ...        ...       ...            ...      ...
355 2049-08-01      NaN        NaN       NaN            NaN      NaN
356 2049-09-01      NaN        NaN       NaN            NaN      NaN
357 2049-10-01      NaN        NaN       NaN            NaN      NaN
358 2049-11-01      NaN        NaN       NaN            NaN      NaN
359 2049-12-01      NaN        NaN       NaN            NaN      NaN

[360 rows x 6 columns]

In [28]:
df.index += 1
df.index.name = 'Period'
df

            index  Payment  Principal  Interest  Addl_rincipal  Balance
Period
1      2020-01-01      NaN        NaN       NaN            NaN      NaN
2      2020-02-01      NaN        NaN       NaN            NaN      NaN
3      2020-03-01      NaN        NaN       NaN            NaN      NaN
4      2020-04-01      NaN        NaN       NaN            NaN      NaN
5      2020-05-01      NaN        NaN       NaN            NaN      NaN
...           ...      ...        ...       ...            ...      ...
356    2049-08-01      NaN        NaN       NaN            NaN      NaN
357    2049-09-01      NaN        NaN       NaN            NaN      NaN
358    2049-10-01      NaN        NaN       NaN            NaN      NaN
359    2049-11-01      NaN        NaN       NaN            NaN      NaN
360    2049-12-01      NaN        NaN       NaN            NaN      NaN

[360 rows x 6 columns]

In [29]:
df['Payment'] = calculateMonthlyPayment(0.02, 240, 200000)

In [30]:
df["Principal"] = calculatePrincipal(0.02, 240, 360, 200000)
df["Interest"] = calculateInterest(0.02, 240, 360, 200000)

In [31]:
df["Addl_Principal"] = -50
df = df.round(2)

In [34]:
df["Balance"] = 0
df.loc[1, "Balance"] = 200000 + df.loc[1, "Principal"] + df.loc[1, "Addl_Principal"]

In [35]:
df

,index,Payment,Principal,Interest,Addl_rincipal,Balance,Addl_Principal
Period,,,,,,,
1,2020-01-01,-739.24,-604.33,-134.91,NaN,199345.67,-50
2,2020-02-01,-739.24,-604.33,-134.91,NaN,0.00,-50
3,2020-03-01,-739.24,-604.33,-134.91,NaN,0.00,-50
4,2020-04-01,-739.24,-604.33,-134.91,NaN,0.00,-50
5,2020-05-01,-739.24,-604.33,-134.91,NaN,0.00,-50
...,...,...,...,...,...,...,...
356,2049-08-01,-739.24,-604.33,-134.91,NaN,0.00,-50
357,2049-09-01,-739.24,-604.33,-134.91,NaN,0.00,-50
358,2049-10-01,-739.24,-604.33,-134.91,NaN,0.00,-50
359,2049-11-01,-739.24,-604.33,-134.91,NaN,0.00,-50
360,2049-12-01,-739.24,-604.33,-134.91,NaN,0.00,-50