In [68]:
import pandas as pd
import numpy as np
from datetime import date

In [69]:
annual_interest_rate = 0.04
years = 30
payments_year = 12

In [70]:
monthly_interest_rate = annual_interest_rate/12
payments_months = years*payments_year

In [71]:
principal = 200000
additional_princial = 50
start_date = date(2020, 1, 1)

In [72]:
def calculateMonthlyPayment(monthly_interest_rate, payments_mohths, principal):
    np.pmt(monthly_interest_rate, payments_months, principal)

In [73]:
def calculateInterest(monthly_interest_rate, period, payments_mohths, principal):
    #interest
    return np.ipmt(monthly_interest_rate, period, payments_months, principal)

In [74]:
def calculatePrincipal(monthly_interest_rate, period, payments_mohths, principal):
    #principal
    return np.ppmt(monthly_interest_rate, period, payments_months, principal)

In [75]:
calculateInterest(0.02, 240, 360, 200000)

array(-3638.63334254)

In [76]:
rng = pd.date_range(start_date, periods=years*payments_year, freq='MS')
rng

DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01',
               ...
               '2049-03-01', '2049-04-01', '2049-05-01', '2049-06-01',
               '2049-07-01', '2049-08-01', '2049-09-01', '2049-10-01',
               '2049-11-01', '2049-12-01'],
              dtype='datetime64[ns]', length=360, freq='MS')

In [77]:
df = pd.DataFrame(index=rng, 
                 columns =['Payment', 'Principal', 'Interest', 'Addl_principal', 'Balance'], 
                 dtype='float')

In [78]:
df.reset_index(inplace=True)
df

         index  Payment  Principal  Interest  Addl_principal  Balance
0   2020-01-01      NaN        NaN       NaN             NaN      NaN
1   2020-02-01      NaN        NaN       NaN             NaN      NaN
2   2020-03-01      NaN        NaN       NaN             NaN      NaN
3   2020-04-01      NaN        NaN       NaN             NaN      NaN
4   2020-05-01      NaN        NaN       NaN             NaN      NaN
..         ...      ...        ...       ...             ...      ...
355 2049-08-01      NaN        NaN       NaN             NaN      NaN
356 2049-09-01      NaN        NaN       NaN             NaN      NaN
357 2049-10-01      NaN        NaN       NaN             NaN      NaN
358 2049-11-01      NaN        NaN       NaN             NaN      NaN
359 2049-12-01      NaN        NaN       NaN             NaN      NaN

[360 rows x 6 columns]

In [79]:
df.index += 1
df.index.name = 'Period'
df

            index  Payment  Principal  Interest  Addl_principal  Balance
Period
1      2020-01-01      NaN        NaN       NaN             NaN      NaN
2      2020-02-01      NaN        NaN       NaN             NaN      NaN
3      2020-03-01      NaN        NaN       NaN             NaN      NaN
4      2020-04-01      NaN        NaN       NaN             NaN      NaN
5      2020-05-01      NaN        NaN       NaN             NaN      NaN
...           ...      ...        ...       ...             ...      ...
356    2049-08-01      NaN        NaN       NaN             NaN      NaN
357    2049-09-01      NaN        NaN       NaN             NaN      NaN
358    2049-10-01      NaN        NaN       NaN             NaN      NaN
359    2049-11-01      NaN        NaN       NaN             NaN      NaN
360    2049-12-01      NaN        NaN       NaN             NaN      NaN

[360 rows x 6 columns]